textarea { resize: none; }

body {
  font-family: Arial, sans-serif;
  background-color: #121211;
}

  .h1 {
    color: #8a69ff;
    font-size: clamp(2rem, 7.5vw, 6rem);
  }
  header {
    border-radius: 35px;
    box-shadow: 0px 0px 10px 10px #000000;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0e0e;
    margin: 20px;
    position: relative;
  }

  .d {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #383838;
  }

  .db {
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 5px #000000;
    background-color: #383838;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 120px;
    transition: 0.2s;
  }

  .db:hover {
    box-shadow: 0px 0px 7px 7px #000000;
    background-color: #262626;
    color: white;
    justify-content: center;
    align-items: center;
  }

  .di {
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 5px #000000;
    margin: 10px;
    border: none;
    color: white;
    background-color: #383838;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 120px;
  }

  .di:focus{
    outline: none;
    box-shadow: 0px 0px 7px 7px #000000;
  }