body {
    font-family: Arial, sans-serif;
    background-color: #121211;
}

.h1 {
    color: #8a69ff;
    font-size: clamp(2rem, 7.5vw, 6rem);
}
.header {
    border-radius: 35px;
    box-shadow: 0px 0px 10px 10px #000000;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0e0e;
    margin: 20px;
    position: relative;
}
.header::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 35px;
}
.header::before {
    content: "";
    background: linear-gradient(
        90deg, transparent, transparent, #8a69ff, transparent, transparent
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(15px);
    animation: glowing 40s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 35px;
    opacity: 1;
}
    @keyframes glowing {
    0% {background-position: 1200% 0;}
    100% {background-position: 0% 0;}
}

.btn-b {
    border-radius: 10px;
    background-color: #333333;
    border: none;
    color: white;
    box-shadow: 0px 0px 7px 7px #000000;
    height: 40px;
    width: 80px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    transition: 0.2s;
}

.btn-b:hover {
    box-shadow: 0px 0px 10px 10px #000000;
    background-color: #262626;
}

.d1 {
    height: 100px;
    margin: 1%;
    justify-content: center;
    align-items: center;
    color: #383838;
}

.db1 {
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 7px #000000;
    background-color: #8a69ff;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 115px;
    transition: 0.2s;
}

.db1:hover {
    box-shadow: 0px 0px 10px 10px #000000;
    background-color: #8a69ffbb;
    justify-content: center;
    align-items: center;
}

.di1 {
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 7px #000000;
    margin: 10px;
    border: none;
    color: white;
    background-color: #383838;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 40px;
    width: 185px;
    transition: 0.4s;
    padding-left: 10px;
    padding-right: 10px;
  }

.di1:focus{
    box-shadow: 0px 0px 10px 10px #000000;
    background-color: #262626;
    outline: none;
    width: 400px;
}

#todo-list button {
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #181818;
    background-color: #ff8383;
    color: #000000;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 100px;
    transition: 0.2s;
}

#todo-list button:hover {
    box-shadow: 0px 0px 8px 8px #181818;
    background-color: #ff8383a1;
    color: #000000;
    justify-content: center;
    align-items: center;
}

#todo-list {
    list-style: none;
    padding: 0;
}

#todo-list li {
    background-color: #383838;
    color: white;
    box-shadow: 0px 0px 5px 5px #000000;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-list li.completed {
    color: #00ff00;
}